__pycache__
.DS_Store
.ipynb_checkpoints/*
metastore_db/*
spark-warehouse/*
derby.log
dl.cfg
data/output_data/*
data/GlobalLandTemperaturesByCity.csv
data/GlobalLandTemperaturesByCountry.csv
data/18-83510-I94-Data-2016/*
data/~$*
data/iso_3166_country_codes.xlsx
